* {
    margin: 0;
    padding: 0;
}

body {
    /* Set size to heigth of screen */
    height: 100vh;
}

section {
    /* Borders */
    border-left: 4px solid #8f8d8f;
    border-top: 4px solid #8f8d8f;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    box-shadow: 0 0 0 4px #cbcbcb;
    background-color: #cbcbcb;
    width: 640px;
    height: 640px;    
    /* horizontal and vertical align */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    /* Flex items */
    display: flex;
    flex-wrap: wrap;
    /* Remove gap between rows */
    align-content: flex-start;
}

article {
    /* 78 + 2 borders => size of cell */
    width: 76px;
    height: 76px;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;
    text-align: center;

}

article>p {
    margin-top: 40%;
    margin-bottom: 50%;
    font-size: larger;
    font-weight: bolder;
}

img {
    padding-top: 20px;
    width: 40px;
    height: 40px;
}

.unclickedCell {
    /* Cell size */
    width: 70px;
    height: 70px;
    /* Borders */
    border-left: 4px solid white;
    border-top: 4px solid white;
    border-right: 4px solid #8f8d8f;
    border-bottom: 4px solid #8f8d8f;
    /* Solide outside border */
    box-shadow: 2px 2px 0px 1px black;
    /* Color */
    background-color: #cbcbcb;
    /* Offset for box limits */
    outline-offset: -8px;    
    /* margins */
    margin-top: 0px;
    margin-left: 0px;   
    margin-right: 2px;
    margin-bottom: 2px;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}